<!DOCTYPE html>
<html lang="en">
<head>	
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/all.min.css">
    <link rel="stylesheet" href="~/assets/css/animate.css">
    <link rel="stylesheet" href="~/assets/plugins/slider/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/plugins/slider/css/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css" />
</head>
<body>
    <header class="continer-fluid ">
        <div id="menu-jk" class="header-bottom">
            <div class="container">
                <div class="row nav-row">
                    <div class="col-lg-3 col-md-12 logo">
                        <a href="@Url.Action("Index", "Home")">
                            <img src="~/assets/images/logo.png" alt="">
                        </a>
                    </div>

                    <div id="menu" class="col-lg-9 col-md-12 d-none d-lg-block nav-col">
                        <ul class="navbad">
                            <li class="nav-item active">
                                <a class="nav-link" href="@Url.Action("Index", "Home")">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Login", "Home")">Login</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
	
    <div>
        @RenderBody()
    </div>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12 map-img">
                    <h2 class="text-center">Contact Us</h2>
                    <address class="md-margin-bottom-40">
                        <strong>Address: </strong> Patients’ Basement, XYZ Medical Centre, ABC Road, Karachi..
                        <br>
                        <strong>Phone: </strong> +92 21 111 111 111
                        <br>
                        <strong>Email: </strong><a href="mailto:info@abc.com">info@abc.com</a>
                        <br>
                        <strong>Web: </strong><a href="#">www.bloodbank1.com</a>
                    </address>

                </div>
            </div>
        </div>
    </footer>
	
	<script src="~/assets/js/jquery-3.2.1.min.js"></script>
	<script src="~/assets/js/popper.min.js"></script>
	<script src="~/assets/js/bootstrap.min.js"></script>
	<script src="~/assets/plugins/scroll-fixed/jquery-scrolltofixed-min.js"></script>
	<script src="~/assets/plugins/slider/js/owl.carousel.min.js"></script>
	<script src="~/assets/js/script.js"></script>
</body>
</html>
