@{
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
    ViewData["Title"] = "Blood Bank Blood Reciever";
}

    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <i class="fa fa-caret-down fa-lg" aria-hidden="true"></i>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand logoimg" href="@Url.Action("Index", "Dashboard")">
                        <img src="~/assets/images/logo.png" alt="LOGO" style="width: 190px; height: 45px;">
                    </a>
                </div>

                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav side-nav">
                        <li>
                            <a href="@Url.Action("Index", "Dashboard")"><i class="fa fa-home"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="@Url.Action("NewDonor", "Dashboard")"><i class="fa fa-user"></i> New Donor</a>
                        </li>
                        <li>
                            <a href="@Url.Action("BloodDonors", "Dashboard")"><i class="fa fa-plus-square"></i> Blood Doners</a>
                        </li>
                        <li>
                            <a href="@Url.Action("BloodRequest", "Dashboard")"><i class="fa fa-tint"></i> Blood To Request</a>
                        </li>
                        <li>
                            <a href="@Url.Action("BloodDetail", "Dashboard")"><i class="fa fa-eraser"></i> Blood Detail</a>
                        </li>
                        <li>
                            <a href="@Url.Action("BloodRecievers", "Dashboard")"><i class="fa fa-address-book"></i> Blood Recievers</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-sign-out"></i> Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row" id="main">
                    <div class="col-sm-12 col-md-12 well" id="content">
                        <h1 class="text-center">Blood Reciever List</h1>

                        <div class="row">
                            <div class="input-group col-lg-12">
                                <input type="text" class="form-control" placeholder="Search">
                            </div>
                        </div>

                        <!--Donor Table-->
                        <table class="table table-hover table-responsive-lg" id="donorTable">
                            <thead>
                                <tr>
                                    <th class="text-center">ID</th>
                                    <th class="text-center">Full Name</th>
                                    <th class="text-center">Date of Birth</th>
                                    <th class="text-center">Gender</th>
                                    <th class="text-center">Contact #</th>
                                    <th class="text-center">City</th>
                                    <th class="text-center">Recieved Date</th>
                                    <th class="text-center">Blood Type</th>
                                    <th class="text-center">Unit of Blood</th>
                                    <th class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-center">1</td>
                                    <td class="text-center">Ali Rehman</td>
                                    <td class="text-center">2000-05-28</td>
                                    <td class="text-center">Male</td>
                                    <td class="text-center">03333333000</td>
                                    <td class="text-center">Karachi</td>
                                    <td class="text-center">2021-01-01</td>
                                    <td class="text-center">B+</td>
                                    <td class="text-center">525</td>

                                    <td class="text-center">
                                        <div class="btn-group" role="group">
                                            <button type="button" class="btn btn-danger"><i class="fa fa-trash"></i> Delete Record</button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>

    </div>